<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <title>AGOLDTRADERZ</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</head>

<body class="bg-secondary">

  <nav class="navbar navbar-dark bg-dark">
    <span class="navbar-brand mb-0 h1" style="color:SANDYBROWN">AGOLDTRADERZ</span>
  </nav>

  <div class="card">
    <div class="card-body" style="background-color:DARKGRAY;">
      <div class="container">
        <h3 class="text-white">GOLD SPOT/US DOLLAR</h3>
        <h7><span style="color:DIMGRAY"">XAUUSD</span></h7>
        </br></br>
        <div>
          <h3 class=" d-inline text-white"><a>1630</a></h3>
          <a class="text-white">USD<a>
              <a style="color:aquamarine;">+34(+6.34%)</a>
        </div>
        <div class=" d-inline">
          <a style="color:aquamarine;">MARKET OPEN</a>
          <a style="color:DIMGRAY"">(FEB 24 03:34 UTC-5)<a></a>
        </div>
      </div>
    </div>
  </div>
  </br>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="card text-white" style="background-color:DARKGRAY;">
          <div class="card-body text-center">
            <h5 class="card-title">1323.64</h5>
            <p class="card-text">PREV</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card text-white" style="background-color:DARKGRAY;">
          <div class="card-body text-center">
            <h5 class="card-title">3545.34</h5>
            <p class="card-text">OPEN</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card text-white" style="background-color:DARKGRAY;">
          <div class="card-body text-center">
            <h5 class="card-title">4342.554K</h5>
            <p class="card-text">VOLUMN</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card text-white" style="background-color:DARKGRAY;">
          <div class="card-body text-center">
            <h5 class="card-title d-inline">
              <p><span>1234.32</span><span>-</span><span>1276.86</span></p>
            </h5>
            <p class="card-text">DAY'S RANGE</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </br>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="card text-white" style="background-color:DARKGRAY;">
          <div class="card-body">
            <h5 class="card-title text-center" style="color:GOLD">TODAY'S PRICE</h5>
            <div class="container">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">TYPE</th>
                    <th scope="col">BUY</th>
                    <th scope="col">SELL</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>LBMA<p style="color:DIMGRAY">99.99%(Baht)</p>
                    </td>
                    <td style="color:CRIMSON">43244</td>
                    <td style="color:CRIMSON">2343.53</td>
                  </tr>
                  <tr>
                    <td>InterGold<p style="color:DIMGRAY"">96.5%(Baht)</p>
                    </td>
                    <td style="color:CRIMSON">34445</td>
                    <td style="color:CRIMSON">1232.32</td>
                  </tr>
                  <tr>
                    <td>GTA<p style="color:DIMGRAY"">96.5%(Baht)</p>
                    </td>
                    <td>13424</td>
                    <td>2133.34</td>
                  </tr>
                  <tr>
                    <td>XAUUSA<p style="color:DIMGRAY"">USD</p>
                    </td>
                    <td>-</td>
                    <td style="color:CRIMSON">21313.32</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="card text-white" style="background-color:DARKGRAY;">
          <div class="card-body">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <div class="card">
                    <div class="card-body">
                      <canvas id="chLine"></canvas>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </br>
  <div class="container">
    <div class="card">
      <div class="card-body" style="background-color:DARKGRAY;"> 
        <h5 class="card-title text-center" style="color:GOLD">GOLD FUND MOVEMENT</h5>
        <div class="container">
          <div class="row text-center">
            <div class="col">
              <p class="text-white">SPDR(ton)(USD)</p>
              <a class="text-white">154.67<a>
              <p style="color:aquamarine;">+2.34(+1.50%)</p>
            </div>
            <div class="col">
              <p class="text-white">HUI(USD)</p>
              <a class="text-white">244.54<a>
              <p style="color:aquamarine;">+9.68(+4.35%)</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </br>

  <div class="navbar navbar-dark bg-dark">
    <div class="container text-center text-white">
      <p class="navbar-text col-md-12 col-sm-12 col-xs-12">Copyright2020 ZaZa5588</p>
    </div>
  </div>

</body>

</html>